*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: lightgrey;
}

h1{
    padding: 30px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
}

#wrap{
    margin: 0 auto;
    width: 500px;
  }

  details{
    border: 1px solid black;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;
    margin-bottom:5px;
    width:100%;
    background-color: #EEE;
  }
  summary{
    font-weight: bold;
    color: black;
    font-size: 20px;
    cursor: pointer;
  }
  p, a, span{
    font-size: 20px;
    color: grey;
  }
